@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

html {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: 400;
}

body {
    background: url(../images/bg-repeat.jpg);
    background-repeat: repeat-x;
    background-size: contain;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.main {
    display: flex;
    gap: 40px;
    margin: 10px;
    align-items: center;
}

.main div {
    width: 50%;
}

.main .description h1 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 11px;
}

.main .description p {
    font-size: 15px;
    line-height: 17px;
    max-width: 300px;
}

.main .form-container {
    height: 378px;
    width: 340px;
    background-color: white;
    display: flex;
    justify-content: center;
}

.main .form-container .form {
    display: flex;
    flex-direction: column;
}

.main .form-container .form input,
.main .form-container .form textarea {
    width: 300px;
    height: 100px;
    border-radius: 5px;
    border: 1px solid black;
    padding: 8px;
    margin-top: 6px;
    font-size: 15px;
    font-weight: 400;
    resize: none;
}

.main .form-container .form input {
    height: 35px;
}

.main .form-container .form input:last-child {
    background-color: #3CCC87;
    color: white;
    font-weight: 700;
    height: 48;
    border-color: #3CCC87;
    cursor: pointer;
}

.main .form-container .form .warning {
    color: #F52E2E;
    visibility: hidden;
}

.display {
    visibility: visible;
}
